
 h1 {
     font-family: 'Amatic SC', cursive;
     text-align: center;
     font-size: 70px !important;
     color: white !important;
     margin-right: 358px !important;
   
 }

 h2{
    color:blue !important; 
 }

 a {
     color: white !important;
     font-size:16px;
 }