image {
    object-fit: fill;
}

.header{
    background-color:seagreen;
}

h1{
    padding-top: 9px;
    text-align: center;
    color: white;
    font-size:109px;
}

h3 {
    padding-top:53px;
    font-size:38px;
    margin-left:33px;
}

h3, h1 {
    font-family: 'Amatic SC', cursive;
}


p {
    padding-top: 50px;
    margin-left: 35px;
    font-size:18px;
}